
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #f4ecec;
  background-color: #000;
  
}

.border-space {
 border-radius: 30px;
 
 border-spacing: 40px;
 margin-top: 20px;
}